{% extends "layout.html" %}

{% block title %}
    registros
{% endblock %}

{% block main %}
    <style>
    table {
        border: 2px solid black;
    }
    th {
        padding: 15px;
        border: 2px solid black;
    }
    td {
        padding: 15px;
        border: 1px solid black;
    }
    </style>
    {% if registros!=[] or resumen!=[] %}
    <panel>
        <label>Datos de: {{periodo[0]}} a: {{periodo[1]}}</label>
    </panel>
    {% else %}
        <label class="text-warning"><h1>No hay pedidos guardados en la fecha seleccionada: {{periodo[0]}}</h1></label>
    {% endif %}
    {% if registros!=[] %}
    <br/>
    <form action="{{ url_for('index') }}" method="post">
    <table>
        <tr><th>id</th><th>cliente</th><th>Fecha</th><th>B.Imp.</th><th>Iva</th><th>Importe</th><th>Fecha ent.</th><th></th><th></th></tr>
        {% for registro in registros %}
        <tr>
            <td>{{registro.id}}</td><td>{{registro.idcliente}}</td>
            <td>{{registro.fchpedido}}</td>
            <td>{{registro.baseimponible}}</td><td>{{registro.iva}}</td>
            <td>{{registro.importetotal}}</td>
            <td>{{registro.fchprevent}}</td>
            <td><button class="btn btn-default" type="submit" name="action" value="m{{registro.id}}">Modificar</button></td>
            <td><button class="btn btn-default" type="submit" name="action" value="e{{registro.id}}">Eliminar</button></td>
        </tr>
        {% endfor %}
    </table>
    </form>
    {% endif %}
    {% if resumen!=[] %} <!--de momento el resumen hace lo mismo que sin resumen-->
    <br/>
    <table>
        <tr><th>id</th><th>cliente</th><th>Fecha</th><th>B.Imp.</th><th>Iva</th><th>Importe</th><th>Fecha ent.</th><th></th><th></th></tr>
        {% for registro in registros %}
        <tr>
            <td>{{registro.id}}</td><td>{{registro.idcliente}}</td>
            <td>{{registro.fchpedido}}</td>
            <td>{{registro.baseimponible}}</td><td>{{registro.iva}}</td>
            <td>{{registro.importetotal}}</td>
            <td>{{registro.fchprevent}}</td>
            <td><button class="btn btn-default" type="submit" name="action" value="m{{registro.id}}">Modificar</button></td>
            <td><button class="btn btn-default" type="submit" name="action" value="e{{registro.id}}">Eliminar</button></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}